/**
 * @Author: root
 * @Date:   2022-09-11T22:37:01+05:30
 * @Last modified by:   root
 * @Last modified time: 2022-09-11T22:41:10+05:30
 */
 .toast-container {
     position: absolute;
     top: 0;
     right: 0;
 }
